<div>
  <!-- <ul>
    <li *ngFor="let data of dataArr">
      {{data.name}}
    </li>
  </ul> -->


  <table class="table">


    
    <tr>
      <th>Name</th>
      <th>UserName</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Location</th>
      <th>Company</th>
    </tr>
    <tr *ngFor="let data of dataArr">
      <td>{{data.name}}</td>
      <td>{{data.username}}</td>
      <td>{{data.email}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.website}}</td>
      <td>{{data.address.street}} , {{data.address.geo.lat}} , {{data.address.geo.lng}} </td>
      <td>{{data.company.name}}</td>
    </tr>

  </table>

  <router-outlet></router-outlet>
</div>